[submodule "js/flotr2"]
	path = js/flotr2
	url = https://github.com/HumbleSoftware/Flotr2.git
[submodule "js/FlashCanvas"]
	path = js/FlashCanvas
	url = https://github.com/blake-education/flashcanvas.git
[submodule "lib/amon-php"]
	path = lib/amon-php
	url = https://github.com/martinrusev/amon-php.git
[submodule "js/tesseract"]
	path = js/tesseract
	url = https://github.com/square/tesseract.git
[submodule "js/d3"]
	path = js/d3
	url = https://github.com/mbostock/d3.git
[submodule "lib/Requests"]
	path = lib/Requests
	url = https://github.com/rmccue/Requests.git
