[submodule "js/flotr2"]
	path = js/flotr2
	url = https://github.com/HumbleSoftware/Flotr2.git
[submodule "js/FlashCanvas"]
	path = js/FlashCanvas
	url = https://github.com/timcameronryan/FlashCanvas
[submodule "lib/amon-php"]
	path = lib/amon-php
	url = https://github.com/martinrusev/amon-php.git
[submodule "javascripts/tesseract"]
	path = javascripts/tesseract
	url = https://github.com/square/tesseract.git
[submodule "javascripts/d3"]
	path = javascripts/d3
	url = https://github.com/mbostock/d3.git
